/**
 * Custom styling for the login form page
 */

@import "sass/variables-site/variables-site";
@import "sass/mixins/mixins-master";
@import "sass/mixins/mixins-slushman";
@import "sass/mixins/mixins-theme";

.login { // page body tag
	background: $ltgray;

	#login { // div container for login form

		h1 {

			a {
				background-image: url(images/logo.png);
				background-size : contain;
				width 			: 320px;
			}
		}
	}

	#loginform {
		background-color: $light;
		padding-bottom 	: 26px;

		p {

		}

		label {
			color: $gray4;
		}

		.input { // username and password fields
			background-color: $ltgray;
			border 			: 0;
			color 			: $gray4;

			&:focus,
			&:active {
				border 		: 1px solid $blue;
				box-shadow 	: 0 0 5sdpx $blue;
			}
		}


	}

	.submit { // submit button p tag


		#wp-submit { // submit button itself
			background-color: $blue;
			border 			: 0;
			border-radius 	: 0;
			box-shadow 		: none;
			color 			: $light;
			font-size 		: 1.25em;
			font-weight 	: 700;
			text-transform 	: uppercase;
			transform 		: $tillytilt;

			&:hover {
				background-color: darken( $med, 25% );
				color 			: $light;
			}
		}
	}

	#nav,
	#backtoblog {

		a {
			color: $gray4;

			&:hover {
				text-shadow: 1px 1px 1px $red;
			}
		}
	}

	.forgetmenot { // remember me checkbox p tag

		label {

		}

		#rememberme { // checkbox itself
			background-color: $ltgray;
			color 			: $blue;
		}
	}

}