.site-footer {
	background-color: $blue;
	color 			: $light;
	font-weight 	: 600;
	width 			: 100%;

	@media only screen and (min-width: $bp__tablet) {
		background-image: url( images/woodgrainbg.png );
		background-repeat: no-repeat;
		background-size: cover;
	}

	a {
		color 			: $light;
		font-weight 	: 600;
		text-decoration : none;

		&:hover,
		&:focus {
			text-decoration : underline;
		}
	}

	address {
		font-style 		: normal;
		margin-bottom 	: 0;
	}
}

.wrap-footer {
	padding 		: 1em;

	@media only screen and (min-width: $bp__footer) {
		display 		: flex;
		justify-content : center;
		padding 		: 0;
	}

	@media only screen and (min-width: $bp__header) {
		justify-content : flex-start;
	}
}

.logo-years {
	text-align: center;

	@media only screen and (min-width: $bp__footer) {
		background-color: $light;
		height 			: $size__height-footer-tall;
		max-width 		: 175px;
		margin 			: 0 3.5%;
		transform 		: $tillytilt;
		width 			: 210px;
	}

	@media only screen and (min-width: $bp__header) {
		height 		: $size__height-footer;
		margin 		: 0 0 0 1.5em;
		max-width 	: 135px;
	}

	img {
		max-width: 150px;

		@media only screen and (min-width: $bp__footer) {
			max-width 	: 135px;
			position 	: relative;
			top 		: 50%;
			transform 	: translateY(-50%) $tillyuntilt;
		}

		@media only screen and (min-width: $bp__header) {
			max-width 	: 115px;
			margin 		: 0 0.5em;
		}
	}
}

.site-info {
	text-align 	: center;
	width 		: 100%;
	overflow 	: auto;

	@media only screen and (min-width: $bp__footer) {
		height 			: $size__height-footer-tall;
		text-align 		: left;
	}

	@media only screen and (min-width: $bp__menu-button + 1) {
		width: 52%;
	}

	@media only screen and (min-width: $bp__tablet) {
		width: 45%;
	}

	@media only screen and (min-width: $bp__header) {
		height 		: $size__height-footer;
		margin-left : 1em;
		width 		: 80%;
	}

	ul {
		@extend %listreset;

		@media only screen and (min-width: $bp__footer) {
			position 	: relative;
			top 		: 50%;
			transform 	: translateY(-50%);
		}

		@media only screen and (min-width: $bp__header) {
			display: flex;
		}
	}

	li {

		@media only screen and (min-width: $bp__header) {
			border-right 	: 2px solid $light;
			padding-right 	: 0.3em;
			padding-left 	: 0.25em;
		}

		&:last-child {
			border-right: none;
			padding-right: 0;
		}
	}
}