h1,
h2,
h3,
h4,
h5,
h6 {
	clear 		: both;
}

h1,
.h1 {
	@extend %h1;
}

h2,
.h2 {
	@extend %h2;
}

h3,
.h3 {
	@extend %h3;
}

h4,
.h4 {
	@extend %h4;
}

h5,
.h5 {
	@extend %h5;
}

h6,
.h6 {
	@extend %h6;
}


%h1 {
	line-height : 1.125;

	@media (min-width: 43.75em) {
		font-size 	: 2.5em;
	}

	@media (min-width: 56.25em) {
		font-size 	: 3em;
		line-height : 1.05;
	}
}

%h2 {
	font-size: 1.625em;
	line-height: 1.15384615;

	@media (min-width: 43.75em) {
		font-size 	: 2em;
		line-height : 1.25;
	}

	@media (min-width: 56.25em) {
		font-size 	: 2.25em;
	}
}

%h3 {
	font-size 	: 1.375em;
	line-height : 1.13636364;

	@media (min-width: 43.75em) {
		font-size 	: 1.5em;
		line-height : 1.25;
	}

	@media (min-width: 56.25em) {
		font-size 	: 1.75em;
	}
}

%h4 {
	font-size 	: 1.125em;
	line-height : 1.11111111;

	@media (min-width: 43.75em) {
		line-height: 1.22222222;
	}
}

%h5 {
	font-size: 1em;
}

%h6 {
	font-size: 0.75em;
}