.widget-area {
	width 		: 100%;
	float 		: left;
	overflow 	: auto;
	padding 	: 1em;

	@media only screen and (min-width: $bp__tablet) {
		width: 27.5%;
		float: right;

		&.sidebar-content {
			float 	: left;
			margin 	: 0 0 0 2.5%;
		}
	}

	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__headings2) {
		.shop & {
			width: 40%;
		}
	}
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

.widget-title {
	color 			: $gray3;
	font-size 		: 30px;
	font-style 		: italic;
	line-height 	: 1.05;
	margin 			: 0;
	text-transform 	: uppercase;
}

/* Search widget */
.widget_search {

	.search-submit {
		display: none;
	}

	.search-field {
		width: 98.5%;
	}
}

.widget_wc_aelia_currencyswitcher_widget {

	#aelia_cs_currencies {
		width: 100%;
	}

	.single-product {

		@media only screen and (min-width: $bp__header) {
			margin-left : 53px;
			width 		: 36%;
		}

		.currency_switch_form {
			float: left;
			width: 100%;

			select {
				border-top 	: 0;

				@media only screen and (max-width: $bp__header - 1) {
					transform 	: none;
				}

				@media only screen and (min-width: $bp__header) {
					padding-right: 1.5em;
				}
			}
		}
	}
}

.widget_berocket_aapf {

	[data-type="select"] {
		padding-left: 0;

		&:after {
			color 		: $gray5;
			content 	: "\f140";
			font-family : 'dashicons';
			font-size 	: 1.25em;
			position 	: absolute;
			right 		: 0.35em;
			top 		: 0;
			z-index 	: -1;
		}

		select {
			width: 100%;
		}
	}

	.berocket_term_parent_0 {
		label {
			font-weight: 700;
		}
	}

	li.slider span.left input,
	li.slider span.right input {
		width: 85%;
	}

 }

 .fr_search_widget {
 	.ctr_search {
 		border-color 	: $blue;
		border-radius 	: 0;
		box-sizing 		: border-box;
		height 			: 2.25em;
		transform 		: $tillytilt;

 		.predictive_search_input {
 			height 			: 1.8em !important;
 			transform 		: $tillyuntilt;
 			width 			: 73%;

			@media only screen and (min-width: $bp__headings2) {
				width: 80%;

				.widget-area & {
					width: 68%;
				}
			}
		}
	}
}