.page-template-page-product_category,
.tax-product_cat,
.tax-pa_product-line {

	.page-content {
		border-bottom 	: 1px solid $gray3;
		//border-top 		: 1px solid $gray3;
		display 		: flex;
		flex-wrap 		: wrap;
		margin-bottom 	: $size__default-bot-marg;

		.header-desc,
		.header-docs {
			margin-top: 0;
		}

		.split.desc {
			width: 65%;
		}

		.split.docs {
			width: 35%;
		}
	}
}

.features {
	border 			: 1px solid $blue;
	margin-bottom 	: $size__default-bot-marg / 2;

	h2 {
		background-color: $blue;
		color 			: $light;
		font-size 		: 30px;
		font-style 		: italic;
		font-weight 	: 700;
		margin 			: 0;
		padding 		: 0.2em;
		text-align 		: center;
		text-transform 	: uppercase;
	}

	.features-list {
		margin 		: 0.5em auto;
		padding-left: 0.5em;

		@media only screen and (min-width: $bp__tablet + 1) {
			font-size 	: 24px;
		}

		@media only screen and (min-width: $bp__headings2) {
			padding-left: 2.25em;
		}

		ul {
			columns 			: 2 300px;
			list-style-position : inside;
			list-style-type 	: square;
			margin-bottom 		: 0;
			padding 			: 0;
		}
	}
}

// .site-main {
// 	@include productlistings();
// }

// Changes for 3.x upgrade
.woocommerce {
	@include productlistings();
}

.presearch {
	margin: 0 0 0.5em 0;
}

.woocommerce-product-search,
.product-search-form {
	margin-bottom 	: $size__default-bot-marg;
	text-align 		: center;

	.search-field,
	.product-search-field {
		border-color 	: $blue;
		border-radius 	: 0;
		box-sizing 		: border-box;
		height 			: 2.25em;
		transform 		: $tillytilt;
		width 			: 73%;

		@media only screen and (min-width: $bp__headings2) {
			width: 80%;

			.widget-area & {
				width: 68%;
			}
		}
	}

	input[type="submit"],
	button[type="submit"] {
		background-color: $blue;
		border 			: none;
		border-radius 	: 0;
		box-shadow 		: none;
		color 			: $light;
		font-size 		: 1rem;
		height 			: 2.25em;
		padding 		: 0;
		text-shadow 	: none;
		text-transform 	: uppercase;
		transform 		: $tillytilt;
		width 			: 25%;

		@media only screen and (min-width: $bp__headings2) {
			width: 17.5%;

			.widget-area & {
				width: 30%;
			}
		}
	}
}

.woocommerce-ordering,
.currency_switch_form {
	position: relative;

	&:after {
		color 		: $gray5;
		content 	: "\f140";
		font-family : 'dashicons';
		font-size 	: 1.25em;
		position 	: absolute;
		right 		: 0.35em;
		top 		: 0;
		z-index 	: -1;
	}
}
