@font-face {
	font-family : 'fontello';
	src 		: url('fonts/fontello.eot?47129516');
	src 		: url('fonts/fontello.eot?47129516#iefix') format('embedded-opentype'),
				url('fonts/fontello.woff?47129516') format('woff'),
				url('fonts/fontello.ttf?47129516') format('truetype'),
				url('fonts/fontello.svg?47129516#fontello') format('svg');
	font-weight : normal;
	font-style 	: normal;
}

$font__main 				: 'Titillium Web', sans-serif;
$font__code 				: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre 					: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body 	: 1.5;
$font__line-height-pre 		: 1.6;
$font__size-social 			: 36px;

/*

From all layouts:
main menu – light 24
"Subscribe" in header menu – bold 19
footer text – semibold 18

Homepage:
News post titles – bold italic 24
News meta (date) - regular 15
"Tillotson News" - bold italic 30
Text on three product type buttons ("Generators", "Racing Parts & Kits" etc) - bold italic 20
"More" in the news section – bold italic 22

Product Category layout:
"All generators feature" - bold italic 30
product feature list text – regular 24
product "title" - bold italic 24

Subpage:
page title – bold italic 80

Product page:
product "title" - bold italic 30
product specs text – regular 24
"Add to cart" text – bold italic 24
related products text – bold italic 30/24

*/