.main-navigation {
	clear			: both;
	display			: block;
	order 			: 3;
	width			: 100%;

	@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__laptop - 1) {
		left 	: 0;
		order 	: 1;
		position: absolute;
		width 	: 165px;
	}

	.admin-bar & {
		@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__laptop - 1) {
			top: 46px;
		}

		@media only screen and (min-width: $bp__wp-menu) {
			top: 32px;
		}
	}

	ul {
		@extend %listreset;
		text-align 	: left;

		@media only screen and (max-width: $bp__menu-button) {
			display: none;
		}

		@media only screen and (max-width: $bp__laptop - 1) {
			line-height	: 1.25em;
		}

		@media only screen and (min-width: $bp__laptop) {
			display 	: block;
			text-align	: center;
		}

		ul {
			background-color: rgba( $color__bg-menu-item-mobile, 0.95 );
			display			: inherit;

			@media only screen and (min-width: $bp__laptop) {
				box-shadow	: 0 3px 3px rgba(0, 0, 0, 0.2);
				left 		: -4px;
				opacity 	: 0;
				position	: absolute;
				text-align 	: left;
				transition 	: visibility 0.4s ease, opacity 0.4s ease;
				visibility 	: hidden;
				z-index		: 99999;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__menu-button) {
						border-left : none;
						padding 	: 0.5em 3em;
					}
				}
			}

			a {
				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 2em;
				}

				@media only screen and (min-width: $bp__menu-button+1) {
					color 		: $color__text-submenu;
					transform 	: none;
					white-space : nowrap;
				}
			}

			li {

				@media only screen and (min-width: $bp__menu-button+1) {
					padding 	: 0 0.5em;
				}

				@media only screen and (min-width: $bp__laptop) {
					width 		: 100%;

					&:hover {
						background-color: $blue;

						a {

							&:before {
								transform: none;
							}
						}
					}
				}

				&:last-child {

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}

			}

			.current_page_item,
			.current-menu-item,
			.current-menu-parent,
			.current_page_ancestor {
				a {
					&:before {
						transform: none;
					}
				}
			}

		} // .submenu ul

		li {


			&:hover,
			&.focus {

				> a {
					color 		: $color__text-menu-mobile-hover;

					@media only screen and (min-width: $bp__laptop) {
						color 		: $color__text-menu-hover;
					}

					&:before {
						background-color: $color__bg-menu-item-mobile;
						transition 		: $tillytransition;

						@media only screen and (min-width: $bp__laptop) {
							transform 		: $tillytilt;
						}
					}
				}
			}
		}

	} // first-level ul

	li {

		@media only screen and (min-width: $bp__laptop) {
			display 	: inline-block;
			position 	: relative;
		}

		&:hover,
		&.focus {

			> ul {
				@media only screen and (min-width: $bp__laptop) {
					display 	: block;
					opacity 	: 1;
					visibility 	: visible;
				}
			}

			& .children svg {
				fill: $light;
			}
		}
	}

	a {
		color 			: $color__text-menu-mobile;
		display			: block;
		font-size 		: 22px;
		font-weight 	: 300;
		padding 		: 0.5em;

		@include uppercaseLink();

		@media only screen and (min-width: $bp__laptop) {
			color 		: $color__text-menu;
			padding 	: 0 6px;

			&:before {
				bottom 			: 0;
				content 		: "";
				left 			: 0;
				position 		: absolute;
				right 			: 0;
				top 			: 0;
				transition 		: $tillytransition;
				z-index 		: -1;
			}
		}

		&:focus {
			outline-color: $color__outline-menu-link;
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		> a {
			color 			: $color__text-menu-current;

			&:before {
				transform 		: $tillytilt;

				@media only screen and (min-width: $bp__menu-button+1) {
					background-color: $color__bg-menu-current;
				}
			}
		}

		.caret-down {
			fill: $color__text-menu-current;
		}

		&:hover,
		&.focus {

			> a {
				color: $color__text-menu-current-hover;
			}

			.caret-down {
				fill: $color__text-menu-current-hover;
			}
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}

		@media only screen and (min-width: $bp__menu-button + 1) and (max-width: $bp__laptop - 1) {

			.dashicons-arrow-left {
				opacity : 1;
				width 	: 16px;
			}

			.dashicons-menu {
				height 		: 0;
				opacity 	: 0;
				width 		: 0;
			}

			.menu-main-menu-container {
				transform 	: translateX(0);
			}
		}
	}

	.children svg {
		display 	: none;
		fill 		: $light;
		transition 	: $tillytransition;

		@media only screen and (min-width: $bp__laptop) {
			display 	: inline-block;
			fill 		: $color__text-menu;
		}
	}

	.shop {

		@media only screen and (min-width: $bp__laptop) {

			.sub-menu {
				left 	: -200%;
				right 	: 4px;
			}
		}
	}

} // .main-navigation

// Center Menu
.menu-main-menu-container {
	margin		: 0 auto;
	transition 	: transform $tillytransition;

	@media only screen and (max-width: $bp__laptop - 1) {
		background-color: $gray3;
	}

	@media only screen and (min-width: $bp__menu-button + 1) and (max-width: $bp__laptop - 1) {
		left 		: 0;
		position 	: absolute;
		transform 	: translateX(-300px);
		width 		: 300px;
		z-index 	: 9999;
	}

	@media only screen and (min-width: $bp__laptop) {
		margin-top: 0.65em;
	}
}


/* Small menu */
.menu-toggle {
	@extend %menutoggle;
	background-color: $color__bg-menu-button;
	font-size		: 1.25em;
	line-height		: 1.25em;

	@media only screen and (min-width: $bp__menu-button+1) {
		font-size 		: 1.5em;
		overflow 		: hidden;
	}

	&:hover,
	&:focus,
	&.focus {
		background-color: $color__bg-menu-button
	}

	@media only screen and (min-width: $bp__laptop) {
		background-color: $color__bg-menu-button;
		color 			: $color__text-menu-button;
		display 		: none;
	}

	.dashicons {
		font-size 	: 1.35em;
		transition 	: all $tillytransition;
	}

	.dashicons-menu {
		margin-right: 6px;
	}

	.dashicons-arrow-left {
		height 		: 0;
		opacity 	: 0;
		width 		: 0;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin	: 0 0 $size__default-bot-marg;
		overflow: hidden;
	}

	& .nav-previous {
		float	: left;
		width	: 50%;
	}

	& .nav-next {
		float		: right;
		text-align 	: right;
		width		: 50%;
	}
}
