.nav-social {
	@extend %clearafter;
	color: $light;
	order: 1;
	width: 100%;

	@media only screen and (min-width: $bp__menu-button+1) {
		order 	: 2;
		width 	: 97%;
	}

	@media only screen and (min-width: $bp__laptop) {
		overflow: auto;
		width 	: 50%;
	}

	.screen-reader-text,
	a {

		&:focus {
			outline-color: $light;
		}
	}

	.menu-items {
		@extend %listreset;
		text-align 		: center;
		background-color: $blue;
		padding 		: 0.5em 0.5em 0.25em;

		@media only screen and (min-width: $bp__menu-button+1) {
			float 		: right;
			transform 	: $tillytilt;
			width 		: 200px;
		}

		@media only screen and (min-width: $bp__tablet) {
			width 		: 285px;
		}

		@media only screen and (min-width: $bp__laptop) {
			margin-right: 1.5em;
		}
	}

	.menu-item {
		display 	: inline-block;
		position 	: relative;
		margin 		: 0 1em;

		@media only screen and (min-width: $bp__menu-button+1) {
			margin 		: 0;
			transform 	: $tillyuntilt;
		}

		svg {
			width 	: $font__size-social;
			height 	: $font__size-social;
			fill 	: $light;
		}
	}

	.show {
		display: none;

		@media only screen and (min-width: $bp__tablet) {
			color 			: $light;
			font-size 		: 20px;
			display 		: inline-block;
			vertical-align 	: top;
			margin-top 		: 4px;
			margin-left 	: 4px;
			text-indent 	: 0;
		}
	}
}