.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	color 		: $gray5;
	hyphens 	: auto;
	margin 		: 0;
	word-wrap 	: break-word;

	p {

		.home & {
			margin: 0;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	width 		: 100%;
	margin 		: 0 auto $size__default-bot-marg;
	overflow 	: auto;

	@media only screen and (min-width: $bp__tablet) {
		max-width 	: $size__max-width;
	}
}

.content-area {
	width 		: 100%;
	float 		: left;
	overflow 	: auto;
	padding 	: 1em;

	@media only screen and (min-width: $bp__tablet) {
		&.content-sidebar {
			width 	: 70%;
			margin 	: 0 2.5% 0 0;
			float 	: left;
		}

		&.sidebar-content {
			float 	: right;
			margin 	: 0 0 0 2.5%;
		}

		/* .tax-product_cat & { // adding product filters - 12/22/2015
			width: 72.5%;
		} */

		.shop & {
			width: 60%;
		}
	}

	@media only screen and (min-width: $bp__headings2) {
		.shop & {
			width: 70%;
		}
	}
}

article.hentry,
.search .product {
	border-bottom 	: 1px solid $gray3;
	margin 			: 0;
	padding 		: 1em 0;
	position 		: relative;

	&:last-of-type{
		border-bottom: none;
	}

	.icon {
		left 		: 0;
		position	: absolute;
		top 		: 1em;

		svg {
			height 		: 46px;
			width 		: 46px;

			.home & {
				height 		: 36px;
				width 		: 36px;
			}
		}

		.dashicons {
			color 		: $dark;
			font-size 	: 36px;
		}
	}

	.content {
		margin-left 	: 56px;

		.home & {
			margin-left 	: 45px;
		}
	}
}

.entry-title {
	margin 		: 0;

	.home & {
		font-size 	: 24px;
	}

	a {
		color 			: $dark;
		text-decoration : none;
		text-transform 	: uppercase;

		&:hover {
			text-decoration: underline;
		}
	}
}

.entry-meta {
	color 		: $gray2;
	font-size 	: 15px;
	margin 		: 0.5em 0;

	a {
		color 			: $gray2;
		text-decoration : none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.wrap-docs {

	h3 {
		margin-top: 0;
	}

	.carburetor-to-kit-cross-reference &,
	.illustrated-parts-lists & {
		ul {
			@extend %listreset;
			display 	: flex;
			flex-wrap 	: wrap;

			li {
				background-color: $blue;
				margin 			: 0.5em;
				text-align 		: center;
				transform 		: $tillytilt;
				width 			: 24%;

				a {
					color 			: $light;
					display 		: inline-block;
					padding 		: 0.5em;
					text-decoration : none;
					transform 		: $tillyuntilt;
				}
			}
		}
	}
}
